{% extends 'core/base.html' %} {% block content %}
<div class="container">
    <h4>Questions you want to ask :</h4>

    <form action="{% url 'create-session' pk=classroom.pk%}" method="POST">
        {% csrf_token %} {% for question in questions %}
        <p>
            <label>
            <input type="checkbox" name="checkboxlist" value={{question.pk}} />
            <span>{{question.text}}</span>
          </label>
        </p>
        {%endfor%}
        <input type="submit" name="Create">
    </form>

</div>

{% endblock%}